body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
}

div {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#webcam-container {
    margin: 20px auto;
    border: 1px solid #ccc;
    width: 200px; /* Adjust to webcam width */
    height: 200px; /* Adjust to webcam height */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#label-container {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
